<% if comments.any? %>
  <table class="table table-bordered">
    <thead>
      <th>user_name</th>
      <th>body</th>
      <th></th>
    </thead>
    <tbody>
      <% comments.each do |comment| %>
        <tr>
          <td><%= comment.user.name %></td>
          <td><%= comment.body %></td>
          <td><%= link_to "destroy", admin_comment_path(comment), method: :delete, class: "btn btn-danger", data: { confirm: "本当に削除しますか？" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>no-record</p>
<% end %>