<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <div class="card">
      <div class="card-body">
        <h1 class="my-3 text-center">投稿編集</h1>
        <%= render "form", park: @park, submit: "編集する" %>
      </div>
    </div>
    <%= link_to "削除する", @park, method: :delete, data: { confirm: "本当に削除しますか？"}, class: "btn btn-danger" %>
  </div>
</div>
